* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
}
h1 {
  text-align: center;
  margin: 75px;
}


.ps {
  border: 1px solid black;
  background-color: gray;
  width: 90%;
  height: 150px;
  margin-right:auto;
  margin-left:auto;
  padding:30px 8px 15px 20px;
  font-family: Helvetica;
  color: black;
  overflow: hidden;
}

.attachedcommon {
  
  background-color: #A52A2A;
  text-align: center;
  border:1px solid black;
  width: 100px;
  height: 30px;
  position: absolute;
  top:0px;
  right: 33px;

}

.attached1
{
	background-color: #DEB887;
}

.attached2
{
	background-color: #5F9EA0;
}
.row {
  width: 100%;
}


.p1{background-color: purple;}
.p2{background-color:orange;}
/*Desktop viewers*/
@media (min-width: 992px) {
  .desktop{
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 33.33%;
  }
 
}

/*Tabletes*/
@media (min-width: 768px) and (max-width: 991px) {
  .tablete, .tabletew {
    float: left;
    position: relative;
    <!-- border: 1px solid green;-->
  }
  .tablete { 
    width: 50%;
  }
  .tabletew {
    width: 100%;
  }
}
/*Mobile Devices*/
@media (max-width: 767px) {
  .mobile{
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px;
    <!-- border: 1px solid green;-->
    
  }
 
  .mobile {
    width: 100%;
  
  }
}

